<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task's list</title>
</head>
<body>
    <h1>To do</h1>
    <form method="post" action="/">
        {%  csrf_token  %}
        {{ form.title }}
        <input type="submit" name="Create task" value="Create">
    </form>
    {% for task in tasks %}
        <br>
        <div class="">
            <a href="{% url 'update_task' task.id %}">Update</a>
            <a href="{% url 'delete_task' task.id %}">Delete</a>
            {% if task.complete == True %}
                <s>{{ task.title }}</s>
            {% else %}
                <span>{{ task.title }}</span>
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>